<div class="container auction-form-container">
  <h3 class="auction-form-title">Add Auction</h3>
  <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="auctionNumber" class="form-label">Auction Number</label>
        <input type="text" formControlName="auctionNumber" id="auctionNumber" class="form-control">
        <div *ngIf="auctionForm.get('auctionNumber')?.touched && auctionForm.get('auctionNumber')?.invalid" class="text-danger">
          Auction Number is required
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" formControlName="title" id="title" class="form-control">
        <div *ngIf="auctionForm.get('title')?.touched && auctionForm.get('title')?.invalid" class="text-danger">
          Title is required
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="type" class="form-label">Type</label>
        <select formControlName="type" id="type" class="form-select" [class.is-invalid]="auctionForm.get('type')?.invalid && auctionForm.get('type')?.touched">
          <option value="" disabled selected>Select Type</option>
          <option value="Direct Sale">Direct Sale</option>
          <option value="Auction">Auction</option>
        </select>
        <div class="invalid-feedback" *ngIf="auctionForm.get('type')?.hasError('required') && auctionForm.get('type')?.touched">
          Type is required.
        </div>
      </div>
      

      <div class="col-md-4 mb-3">
        <label for="statusId" class="form-label">Status ID</label>
        <input type="text" formControlName="statusId" id="statusId" class="form-control">
        <div *ngIf="auctionForm.get('statusId')?.touched && auctionForm.get('statusId')?.invalid" class="text-danger">
          Status ID is required
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="categoryId" class="form-label">Category ID</label>
        <input type="text" formControlName="categoryId" id="categoryId" class="form-control">
        <div *ngIf="auctionForm.get('categoryId')?.touched && auctionForm.get('categoryId')?.invalid" class="text-danger">
          Category ID is required
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="startDateTime" class="form-label">Start Date & Time</label>
        <input type="datetime-local" formControlName="startDateTime" id="startDateTime" class="form-control" [min]="formatDate">
        <div *ngIf="auctionForm.get('startDateTime')?.touched && auctionForm.get('startDateTime')?.invalid" class="text-danger">
          Start Date & Time is required
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="endDateTime" class="form-label">End Date & Time</label>
        <input type="datetime-local" formControlName="endDateTime" id="endDateTime" class="form-control" [min]="formatDate">
        <div *ngIf="auctionForm.get('endDateTime')?.touched && auctionForm.get('endDateTime')?.invalid" class="text-danger">
          End Date & Time is required
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="incrementalTime" class="form-label">Incremental Time</label>
        <input type="text" formControlName="incrementalTime" id="incrementalTime" class="form-control">
        <div *ngIf="auctionForm.get('incrementalTime')?.touched && auctionForm.get('incrementalTime')?.invalid" class="text-danger">
          Incremental Time is required
        </div>
      </div>
    </div>

    <button class="btn btn-primary w-100 mt-3" type="submit">Create Auction</button>
  </form>
</div>
