<div class="top-toolbar">
  <div class="toolbar-left">
    <!-- <button class="icon-btn">
      <img src="car-icon.png" alt="Car Plates" />
      <span>Plates</span>
    </button> -->
  </div>

  <div class="toolbar-center">
    <img class="search" src="search.png" alt="">
    <input type="text" class="search-input" placeholder="Search" />
  </div>

  <div class="toolbar-right">
    <img src="sort.png" alt="Filter" class="toolbar-icon sort" />
    <img [src]="layoutType === 'grid' ? 'grid1.png' : 'view-list.png'" alt="Toggle View" class="toolbar-icon grid"
      (click)="toggleLayout()" />

    <img src="pin.png" alt="Location" class="toolbar-icon pin" />
  </div>
</div>


<div *ngIf="assets?.length === 0; else assetsList" class="no-assets-msg">
  <p>No assets found.</p>
</div>
<!-- Asset display when assets exist -->
<ng-template #assetsList>
  <div class="plates-container" [ngClass]="layoutType + '-view'">
    <div class="plate-card" *ngFor="let asset of assets">
      <div class="plate-display">
        <img *ngIf="asset.galleries?.length" [src]="environment.baseurl+asset.galleries[0]?.filePath" alt="Asset Image" class="plate-main-image" />

        <!-- Row view -->
        <ng-container *ngIf="layoutType === 'row'; else gridView">
          <div class="plate-footer">
            <div class="price">BHD {{ asset.price }}</div>
            <div class="icons">
              <button class="icon-btn" title="Save" (click)="addToWishlist(asset.assetId)">
                <img src="wishlist.png" alt="Add to Wishlist" class="button-image1" />
              </button>
              <button class="icon-btn" title="Buy" (click)="buyNow(asset.assetId)">
                <img src="sell.png" alt="Buy Now" class="button-image2" />
              </button>
            </div>
          </div>
        </ng-container>

        <!-- Grid view -->
        <ng-template #gridView>
          <div class="icons">
            <button class="icon-btn" title="Save" (click)="addToWishlist(asset.assetId)">
              <img src="wishlist.png" alt="Add to Wishlist" class="button-image1" />
            </button>
            <button class="icon-btn" title="Buy" (click)="buyNow(asset.assetId)">
              <img src="sell.png" alt="Buy Now" class="button-image2" />
            </button>
          </div>
          <div class="price1">BHD {{ asset.price }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>