<div class="top-toolbar">
  <div class="toolbar-left">
    <button class="back-btn" routerLink="/directbid">
      <button class="back-btn" (click)="goBack()">
        <img src="back.png" alt="Back to Bidding" class="back-btn-image" />
      </button>
    </button>
  </div>
  <div class="toolbar-right">
    <img
      [src]="layoutType === 'grid' ? 'grid1.png' : 'view-list.png'"
      alt="Toggle View"
      class="toolbar-icon grid"
      (click)="toggleLayout()"
    />
  </div>
</div>

<div class="plates-container" [ngClass]="layoutType + '-view'">
  <div class="plate-card" *ngFor="let asset of assets">
    <div class="plate-display">
      <img
        *ngIf="asset.galleries?.length"
        [src]="environment.baseurl + asset.galleries[0]?.filePath"
        alt="Asset Image"
        class="plate-main-image"
        (click)="navigateToAsset(asset?.assetId)"
      />
      <ng-container *ngIf="layoutType === 'row'; else gridView">
        <div class="plate-name">
          <span class="plate-name-text">{{ asset.title }}</span>
        </div>
        <div class="plate-footer">
          <div class="price">BHD {{ asset.price }}</div>
          <div class="icons">
            <button
              class="icon-btn"
              [title]="
                isInWishlist(asset.assetId)
                  ? 'Remove from Wishlist'
                  : 'Add to Wishlist'
              "
            >
            <!-- (click)="toggleWishlist(asset.assetId)" -->
              <img
                [src]="
                  isInWishlist(asset.assetId) ? 'bookmark.png' : 'wishlist.png'
                "
                alt="Wishlist Toggle"
                class="button-image1"
                [ngClass]="{ 'active-wishlist': isInWishlist(asset.assetId) }"
              />
            </button>

            <button class="icon-btn">
              <img src="auction.png" alt="Cart Toggle" class="button-image2" />
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #gridView>
        <div class="plate-name">
          <span class="plate-name-text">{{ asset.title }}</span>
        </div>
        <div class="icons">
          <button
            class="icon-btn"
            title="Save"
            >
            <!-- (click)="addToWishlist(asset.assetId)" -->
            <img
              src="wishlist.png"
              alt="Add to Wishlist"
              class="button-image1"
            />
          </button>
          <button
            class="icon-btn"
            title="Bid"
            (click)="navigateToAsset(asset?.assetId)"
          >
            <!-- (click)="addToCart(asset.assetId)" -->
            <img src="Bidauction1.png" alt="bid Toggle" class="button-image2" />
          </button>
        </div>

        <div class="price1">BHD {{ asset.price }}</div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Toast container -->
<div class="toast-container p-3" style="z-index: 9999">
  <div
    #liveToast
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-delay="4000"
  >
    <div class="toast-header bg-info text-white">
      <strong class="me-auto">Notification</strong>
      <small class="text-muted">Just now</small>
      <button
        type="button"
        class="btn-close btn-close-white ms-2 mb-1"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">This is a toast message.</div>
  </div>
</div>
