<div class="auction-form-header">
  <button class="back-btn btn btn-link p-0" (click)="goBack()">
    <i class="bi bi-arrow-left-circle"></i>
  </button>
  <div>
    <h3 class="auction-form-title">Add User</h3>
    <p class="auction-form-subtitle"><span class="text-danger">*</span> indicates a required field</p>
  </div>
</div>


<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="container mb-3 p-4 bg-light rounded shadow">
  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button type="submit" class="btn btn-primary btn-lg px-4" >Submit</button>
  </div> -->
  <!-- <pre>{{ name.errors | json }}</pre> -->
  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Name<span class="text-danger">*</span></label>

        <input type="text"
        minlength="3"
        maxlength="25"
        pattern="^[A-Za-z ]+$"
        class="form-control form-control-lg"
        [(ngModel)]="user.name"
        name="name"
        placeholder="e.g. Jamie Oliver"
        required
        #name="ngModel">        
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          
          <div *ngIf="(name.errors?.['minlength'] || name.errors?.['pattern'])">
            <span *ngIf="name.errors?.['minlength']">Name must be at least 3 characters. </span>
            <span *ngIf="name.errors?.['pattern']">Only alphabetic characters and spaces are allowed.</span>
          </div>
          
          <div *ngIf="name.errors?.['maxlength']">Maximum 25 characters allowed.</div>
        </div>
        
      </div>
    </div>

    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Email<span class="text-danger">*</span></label>
        <input type="email" placeholder="e.g.jamie@gmail.com" class="form-control form-control-lg" [(ngModel)]="user.email" maxlength="50" minlength="3" name="email" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
        required email #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email'] ||email.errors?.['pattern']">Please enter a valid email.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Mobile Number<span class="text-danger">*</span></label>
        <div class="input-group">
          <select class="form-select form-select-m"  style="max-width: 180px;"  [(ngModel)]="user.countryId" name="countryId" required #countryId="ngModel">
            <option [ngValue]=0 disabled>Select Phone Code</option>
            <option *ngFor="let country of countries" [ngValue]="country.countryId">
              {{ country.phoneCode }} ({{ country.countryName }})
            </option>
          </select>
         
          
          <input type="tel" 
          inputmode="numeric" 
          pattern="^[0-9]*$"
          class="form-control form-control-lg" 
          [(ngModel)]="user.mobileNumber" 
          name="mobileNumber" 
          required
          placeholder="e.g. 9876534526"
          maxlength="15"
          [mobilenumber]="countries"
          (ngModelChange)="onCountryChange()"
          #mobileNumber="ngModel">
        </div>
        <div *ngIf="(countryId.dirty || countryId.touched || mobileNumber.dirty || mobileNumber.touched)" class="text-danger">
          <div *ngIf="user.countryId == 0 || mobileNumber.invalid">
            <span *ngIf="user.countryId == 0">Select a valid Phone Code. </span>
            <span *ngIf="mobileNumber.errors?.['required']">Mobile number is required. </span>
            <span *ngIf="mobileNumber.errors?.['pattern']">Enter a Valid Number. </span>
            <span *ngIf="!mobileNumber.errors?.['pattern'] && mobileNumber.errors?.['invalidPrefix']">
              Mobile number must start with a valid series (e.g., 9, 8, or 7 for India).
            </span>
            <span *ngIf="mobileNumber.errors?.['invalidPhoneLength']">
              Mobile number Length is invalid for the selected country.
            </span>
          </div>        
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Country</label>
        <input class="form-control form-control-lg" disabled="true" type="text" name="country" [value]="getCountryName(user.countryId)">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Company Name</label>
        <input type="text" placeholder="Apple" minlength="3" maxlength="20" class="form-control form-control-lg" [(ngModel)]="user.companyName" #companyName="ngModel" name="companyName">
        <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)" class="text-danger">
          <div *ngIf="companyName.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="companyName.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Company Number</label>
        <input type="text" minlength="3" placeholder="e.g. A53DH" maxlength="15" class="form-control form-control-lg" #companyNumber="ngModel" [(ngModel)]="user.companyNumber" name="companyNumber"  (input)="user.companyNumber = user.companyNumber.toUpperCase()">
        <div *ngIf="companyNumber.invalid && (companyNumber.dirty || companyNumber.touched)" class="text-danger">
          <div *ngIf="companyNumber.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="companyNumber.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Deposit Amount</label>
        <input type="text" placeholder="Enter Deposit Amount" required="true"  pattern="^\d{1,7}(\.\d{1,2})?$"  minlength="3" maxlength="10" class="form-control form-control-lg" [(ngModel)]="user.deposit" (ngModelChange)="updateTotalLimit()" #deposit="ngModel" name="deposit">
        <div *ngIf="deposit.invalid && (deposit.dirty || deposit.touched)" class="text-danger">
          <div *ngIf="deposit.errors?.['required']">Deposit Amount is Required</div>
          <div *ngIf="deposit.errors?.['pattern']"> Enter a valid number with up to 7 digits and a maximum of 2 decimal places.</div>
          <div *ngIf="deposit.errors?.['minlength']  && !deposit.errors?.['pattern']">Minimum 3 Digit Number required.</div>
          <div *ngIf="deposit.errors?.['maxlength']  && !deposit.errors?.['pattern']">Maximum 10 Digit Number allowed.</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Total Limit</label>
        <input type="text" minlength="3"  placeholder="Maximum Allowed Bidding"   disabled maxlength="20" class="form-control form-control-lg" #totalLimit="ngModel" [(ngModel)]="user.totalLimit" name="totalLimit">
        <div *ngIf="totalLimit.invalid && (totalLimit.dirty || totalLimit.touched)" class="text-danger">
          <div *ngIf="totalLimit.errors?.['pattern']">Enter a Valid Number.</div>
          <div *ngIf="totalLimit.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="totalLimit.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-4 mb-2">
      <div class="form-group">
        <label class="form-label fw-bold">Status<span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="user.statusId" name="statusId" required #statusId="ngModel">
          <option value=0 disabled >Select a Status</option>
          <option *ngFor="let status of statuses" [value]="status.statusId">{{ status.statusName }}</option>
        </select>
        <div *ngIf="(statusId.dirty || statusId.touched) && statusId.value==0" class="text-danger">
          Status is required.
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <div class="form-group">
        <label class="form-label fw-bold">Role<span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="user.roleId" name="roleId" required #roleId="ngModel">
          <option value=0 disabled >Select a Role</option>
          <option *ngFor="let role of roles" [value]="role.roleId">{{ role.roleName }}</option>
        </select>
        <div *ngIf="(roleId.dirty || roleId.touched) && user.roleId == 0" class="text-danger">
          Role is required.
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <div class="form-group">
        <label class="form-label fw-bold">Gender<span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="user.gender" name="gender" required #gender="ngModel">
          <option value="" class="default-placeholder" disabled>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="text-danger">
          Gender is required.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Goverment ID Number<span class="text-danger">*</span></label>
        <input type="text" placeholder=" e.g. GRKDP6754D" minlength="3" maxlength="15" class="form-control form-control-lg" [(ngModel)]="user.personalIdNumber" name="personalIdNumber" required #personalIdNumber="ngModel" (input)="user.personalIdNumber = user.personalIdNumber.toUpperCase()">
        <div *ngIf="personalIdNumber.invalid && (personalIdNumber.dirty || personalIdNumber.touched)" class="text-danger">
          <div *ngIf="personalIdNumber.errors?.['required']">Goverment ID Number is required.</div>
          <div *ngIf="personalIdNumber.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="personalIdNumber.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-1">
     <div class="form-group">
  <label class="form-label fw-bold" for="personalIdExpiryDate">
    Government ID Expiry Date<span class="text-danger">*</span>
  </label>

  <div class="input-group">
    <input
      class="form-control form-control-lg"
      placeholder="dd-mm-yyyy"
      ngbDatepicker
      #d="ngbDatepicker"
      [(ngModel)]="user.personalIdExpiryDate"
      name="personalIdExpiryDate"
      id="personalIdExpiryDate"
      required
      futureDate
      [minDate]="minDate"
      [ngClass]="{'is-invalid': personalIdExpiryDate.invalid && (personalIdExpiryDate.dirty || personalIdExpiryDate.touched)}"
      #personalIdExpiryDate="ngModel"
    />
    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
      <i class="bi bi-calendar"></i>
    </button>
  </div>

  <div *ngIf="personalIdExpiryDate.errors?.['required'] && (personalIdExpiryDate.dirty || personalIdExpiryDate.touched)" class="invalid-feedback d-block">
    Government ID Expiry Date is required.
  </div>
  <div *ngIf="personalIdExpiryDate.errors?.['dateInvalid'] && (personalIdExpiryDate.dirty || personalIdExpiryDate.touched)" class="invalid-feedback d-block">
    Government ID Expiry Date must be a future date.
  </div>
</div>

      
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Chat Enabled</label><br>
        <div class="btn-group" role="group">
          <input type="radio" class="btn-check" id="chatYes" [(ngModel)]="user.chatEnabled" name="chatEnabled" [value]="true" autocomplete="off">
          <label class="btn btn-outline-primary" for="chatYes">Yes</label>
          
          <input type="radio" class="btn-check" id="chatNo" [(ngModel)]="user.chatEnabled" name="chatEnabled" [value]="false" autocomplete="off">
          <label class="btn btn-outline-primary" for="chatNo">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Profile Image<span class="text-danger">*</span></label>
        <div class="img-new" *ngIf="profileImagePreviewUrl">
          <img [src]="profileImagePreviewUrl" alt="Profile Image" class="img-thumbnail" width="100">
          <p><a [href]="profileImagePreviewUrl" target="_blank">View image</a></p>
        </div>
        <input type="file" class="form-control form-control-lg" (change)="onFileChange($event, 'profileImage')" required>
        <div *ngIf="submitted && !user.profileImage" class="text-danger">
          Profile Image is required.
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Goverment ID Image<span class="text-danger">*</span></label>
        <div class="img-new" *ngIf="personalIdImagePreviewUrl">
          <img [src]="personalIdImagePreviewUrl" alt="Goverment ID Image" class="img-thumbnail" width="100">
          <p><a [href]="personalIdImagePreviewUrl" target="_blank">View image</a></p>
        </div>
        <input type="file" class="form-control form-control-lg" (change)="onFileChange($event, 'personalIdImage')" required>
        <div *ngIf="submitted && !user.personalIdImage" class="text-danger">
          Goverment ID Image is required.
        </div>
      </div>
    </div>
    

    <!-- <div class="col-md-6 mb-1">
      <div class="form-group">
        <label class="form-label fw-bold">Goverment ID Image<span class="text-danger">*</span></label>
        <input type="file" class="form-control form-control-lg" (change)="onFileChange($event, 'personalIdImage')" required >
      </div>
    </div> -->
  </div> 

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button type="submit" class="btn btn-primary btn-lg px-4" >Submit</button>
  </div>
</form>
