<div class="form-page-container">
  <div class="login-form">
    <div class="d-flex align-items-center justify-content-center mb-4 position-relative">
      <button type="button" *ngIf="step == 2" class="btn btn-link p-0 position-absolute start-0 cc" (click)="step = 1" title="Back to Email">
        <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
      </button>
      <h2 class="form-title m-0">Login</h2>
    </div>

    <!-- Step 1: Enter Email -->
    <form #emailForm="ngForm" *ngIf="step === 1" (ngSubmit)="sendOtp(emailForm)">
      <div class="form-group">
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          class="form-control"
          #emailref = "ngModel"
          required
          min="3"
          maxlength="40"
          pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
          placeholder="Enter email"
        />
        <div *ngIf="emailref.invalid && (emailref.dirty || emailref.touched)" class="text-danger">
          <div *ngIf="emailref.errors?.['required']">Email is required.</div>
          <div *ngIf="emailref.errors?.['email'] ||emailref.errors?.['pattern']">Please enter a valid email.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send OTP</button>
      </div>
    </form>

    <!-- Step 2: Enter OTP -->
    <form #otpForm="ngForm" *ngIf="step === 2" (ngSubmit)="verifyOtp(otpForm)">
      <div class="form-group">
        <input
          type="text"
          name="code"
          [(ngModel)]="code"
          class="form-control"
          required
          placeholder="Enter OTP"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Verify OTP</button>
      </div>
    </form>
  </div>
</div>
