<section class="category-card-section">
  <h2 class="text-center section-heading">Explore by Category</h2>

  <div class="category-grid">
    <div class="category-card" *ngFor="let category of categories" (click)="onCardClick(category.categoryId)">
      <!-- <i class="{{ category.icon }} card-icon"></i>
      <h4>{{ category.name }}</h4>
      <p>{{ category.description }}</p> -->
      <div class="category-name">{{ category.categoryName }}</div>
      <!-- <img [src]="category.icon" alt="{{ category.categoryName }}" class="category-icon" (error)="onImageError($event)"> -->
    </div>
  </div>
</section>