<section class="category-card-section mt-5">
  <h2 class="text-center section-heading">Explore Auctions</h2>

  <div class="category-grid">
    <div 
      class="category-card" 
      *ngFor="let category of categories" 
      (click)="onCardClick(category.categoryId)"
    >
      <div class="image-wrapper">
        <img
          [src]="getFullIconUrl(category.icon)"
          alt="{{ category.categoryName }}"
          (error)="onImageError($event)"  
        />
      </div>
      <div class="category-name">{{ category.categoryName }}</div>
    </div>
  </div>
</section>
