<div class="container mt-4 d-flex justify-content-center">
  <div class="col-md-13">
    <div class="card card-details mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
          {{ requestId === 0 ? 'Create New Request' : (isViewMode ? 'View Request' : 'Edit Request') }}
        </h5>
        <div class="button-container">
          <button
            *ngIf="!isViewMode"
            type="button"
            class="btn btn-sm btn-save btn-outline-primary custom-purple-btn me-2"
            (click)="updateRequest()">
            Save
          </button>
        
          <button
            type="button"
            class="btn btn-sm btn-secondary btn-outline-danger custom-purple-btn"
            (click)="goBack()">
            Back
          </button>
        </div>
      </div>
      <div class="card-body">
        <form #requestForm="ngForm" class="row g-3" novalidate>
          <div class="col-md-6">
            <label class="form-label">Request Number</label>
            <p class="form-control-plaintext fw-bold">#{{ requestData.requestNumber || 'New' }}</p>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Mobile Number<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editMobile">
              <p class="form-control-plaintext">{{ requestData.mobileNumber }}</p>
            </ng-container>
            <ng-template #editMobile>
              <input
                type="text"
                class="form-control form-control-sm"
                [(ngModel)]="requestData.mobileNumber"
                name="mobileNumber"
                #mobileField="ngModel"
                maxlength="10"
                pattern="^[0-9]{10}$"
                (keypress)="allowOnlyNumbers($event)"
                required>
              <div class="text-danger" *ngIf="mobileField.invalid && mobileField.touched">
                Please enter a valid 10-digit mobile number
              </div>
            </ng-template>
          </div>
          
          <!-- User Dropdown -->
          <div class="col-md-6">
            <label class="form-label">User<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editUser">
              <p class="form-control-plaintext">{{ requestData.username }}</p>
            </ng-container>
            <ng-template #editUser>
              <select
                class="form-select form-select-sm"
                [(ngModel)]="requestData.userId"
                name="userId"
                #userField="ngModel"
                required
                (change)="onUserChange($event)">
                <option [ngValue]="0">Select a user</option>
                <option *ngFor="let user of users" [ngValue]="user.userId">
                  {{ user.name }}
                </option>
              </select>
              <div class="text-danger" *ngIf="userField.invalid && userField.touched">
                This field is required
              </div>
            </ng-template>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Email<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editEmail">
              <p class="form-control-plaintext">{{ requestData.email }}</p>
            </ng-container>
            <ng-template #editEmail>
              <input
              type="email"
              class="form-control form-control-sm"
              [(ngModel)]="requestData.email"
              name="email"
              #emailField="ngModel"
              required
              maxlength="20"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$">
            
              <div class="text-danger" *ngIf="emailField.invalid && emailField.touched">
                <span *ngIf="emailField.errors?.['required']">Email is required</span>
                <span *ngIf="emailField.errors?.['pattern']">Please enter a valid email</span>
                <span *ngIf="emailField.errors?.['maxlength']">Email cannot exceed 20 characters</span>
              </div>
            </ng-template>
          </div>
          
          <!-- Asset Dropdown -->
          <div class="col-md-6">
            <label class="form-label">Asset<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editAsset">
              <p class="form-control-plaintext">{{ getAssetName(requestData.assetId) }}</p>
            </ng-container>
            <ng-template #editAsset>
              <select
                class="form-select form-select-sm"
                [(ngModel)]="requestData.assetId"
                name="assetId"
                #assetField="ngModel"
                required>
                <option [ngValue]="0">Select an asset</option>
                <option *ngFor="let asset of assets" [ngValue]="asset.assetId">
                {{ asset.title || asset.categoryName }}
                </option>
              </select>
              <div class="text-danger" *ngIf="assetField.invalid && assetField.touched">
                This field is required
              </div>
            </ng-template>
          </div>

          <div class="col-md-6">
            <label class="form-label">Request Type<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editType">
              <p class="form-control-plaintext">{{ getTypeName(requestData.requestTypeId) }}</p>
            </ng-container>
            <ng-template #editType>
              <select
                class="form-select form-select-sm"
                [(ngModel)]="requestData.requestTypeId"
                name="requestTypeId" 
                #typeField="ngModel"
                required>
                <option [ngValue]="0">Select request type</option>
                <option [ngValue]="1">Transfer of Ownership</option>
                <option [ngValue]="2">Inquiry</option>
                <option [ngValue]="3">Request for Viewing</option>
                <option [ngValue]="4">Offer</option> 
              </select>
              <div class="text-danger" *ngIf="typeField.invalid && typeField.touched">
                This field is required
              </div>
            </ng-template>
          </div>

          <div class="col-md-6">
            <label class="form-label">Transaction<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editTrans">
              <p class="form-control-plaintext">{{ getTransactionLabel(requestData.transactionId) }}</p>
            </ng-container>
            <ng-template #editTrans>
              <select
                class="form-select form-select-sm"
                [(ngModel)]="requestData.transactionId"
                name="transactionId"
                #transField="ngModel"
                required>
                <option [ngValue]="0">Select transaction</option>
                <option *ngFor="let transaction of transactions" [ngValue]="transaction.transactionId">
                  {{ transaction.transactionNumber }} - {{ transaction.amount | currency }} - {{ transaction.userFullName }}
                </option>
              </select>
              <div class="text-danger" *ngIf="transField.invalid && transField.touched">
                This field is required
              </div>
            </ng-template>
          </div>
          
          <div class="col-md-6">
            <label class="form-label">Date / Time</label>
            <p class="form-control-plaintext">
              {{ requestData.requestDateTime | date:'dd/MM/yyyy hh:mm a' }}
            </p>
          </div>

          <div class="col-md-6">
            <label class="form-label">Status<span class="required-star">*</span></label>
            <ng-container *ngIf="isViewMode; else editStatus">
              <p class="form-control-plaintext">{{ getStatusName(requestData.requestStatusId) }}</p>
            </ng-container>
            <ng-template #editStatus>
              <select
                class="form-select form-select-sm"
                [(ngModel)]="requestData.requestStatusId"
                name="requestStatusId"
                #statusField="ngModel"
                required>
                <option [ngValue]="0">Select status</option>
                <option [ngValue]="1">Pending</option>
                <option [ngValue]="2">Done</option>
                <option [ngValue]="3">Approved</option>
                <option [ngValue]="4">Rejected</option>
              </select>
              <div class="text-danger" *ngIf="statusField.invalid && statusField.touched">
                This field is required
              </div>
            </ng-template>
          </div>

          <div class="col-12">
            <label class="form-label">Customer Note</label>
            <ng-container *ngIf="isViewMode; else editCustNote">
              <p class="form-control-plaintext">{{ requestData.customerNote }}</p>
            </ng-container>
            <ng-template #editCustNote>
              <textarea
                class="form-control form-control-sm"
                rows="2"
                [(ngModel)]="requestData.customerNote"
                name="customerNote">
              </textarea>
            </ng-template>
          </div>

          <!-- Admin Note Field -->
          <div class="col-12">
            <label class="form-label">Admin Note</label>
            <ng-container *ngIf="isViewMode; else editAdminNote">
              <p class="form-control-plaintext">{{ requestData.adminNote }}</p>
            </ng-container>
            <ng-template #editAdminNote>
              <textarea
                class="form-control form-control-sm"
                rows="2"
                [(ngModel)]="requestData.adminNote"
                name="adminNote">
              </textarea>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>