<header class="navbar navbar-expand-lg navbar-light bg-light border-bottom rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/mazadlogo.png" alt="Admin Logo" height="40" class="d-inline-block align-top rounded">
    </a>

    <button class="btn btn-outline-primary me-2" type="button" routerLink="/bid-watchlist" routerLinkActive="active">
      <i class="bi bi-bookmark-heart"></i> Watchlist
    </button>

    <button class="btn btn-outline-success me-2" type="button" routerLink="/bid-add-to-cart" routerLinkActive="active">
      <i class="bi bi-cart"></i> Cart
    </button>



    <button class="btn btn-outline-success me-2" type="button" routerLink="/direct-sale-assets/2"
      routerLinkActive="active">
      <i class="bi bi-cart"></i> direct-sale-assets
    </button>

    <div class="d-flex align-items-center" *ngIf="!onLoginPage()">
      <div class="dropdown me-2" ngbDropdown *ngIf="isLoggedIn">


        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="addDropdown" ngbDropdownMenu>
          <button class="dropdown-item btn-outline-secondary" type="button" routerLink="/newUser"
            routerLinkActive="active">New User</button>
          <button class="dropdown-item btn-outline-secondary" type="button" routerLink="/newAuction"
            routerLinkActive="active">New Auction</button>
          <button class="dropdown-item btn-outline-secondary" type="button" routerLink="/newAsset"
            routerLinkActive="active">New Asset</button>
        </div>
      </div>
      <div class="dropdown position-relative me-2" *ngIf="isLoggedIn">
        <button class="btn bell-wrapper shadow-sm border-0 text-purple rounded-bell" (click)="loadNotifications()"
          id="notificationDropdown" aria-expanded="false">
          <i class="bi bi-bell fs-4"></i>
          <span *ngIf="unseenWinDetails.length > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger shadow-sm animate__animated animate__bounceIn">
            {{ unseenWinDetails.length }}
            <span class="visually-hidden">unread notifications</span>
          </span>
        </button>

        <ul *ngIf="showNotifications" class="custom-dropdown shadow-lg p-2" aria-labelledby="notificationDropdown">
          <li *ngIf="unseenWinDetails.length === 0" class="dropdown-item text-muted fst-italic">
            No new notifications
          </li>
          <li *ngFor="let win of unseenWinDetails"
            class="dropdown-item rounded-2 py-2 px-3 text-dark-purple fw-medium notification-hover"
            style="white-space: normal; word-wrap: break-word; line-height: 1.4; font-size: 14px;">
            🏆 <span class="fw-semibold">Congratulations!</span><br />
            You've won the auction for
            <span class="fw-semibold">{{ win.assetName }}</span>
            with
            <span class="fw-semibold">{{ win.win.awardedPrice }} Bhd</span>
          </li>

        </ul>
      </div>



      <button class="btn btn-outline-secondary rounded-circle me-2" type="button" routerLink="/settings"
        routerLinkActive="active" *ngIf="isLoggedIn">
        <i class="bi bi-gear"></i>
      </button>

      <button *ngIf="isLoggedIn" class="btn btn-outline-danger rounded-pill" (click)="logout()">
        <i class="bi bi-box-arrow-right me-1"></i>Logout
      </button>

      <button *ngIf="!isLoggedIn" class="btn btn-outline-dark rounded-pill" type="button" routerLink="/login"
        routerLinkActive="active">
        <i class="bi bi-person-circle me-1"></i>Login
      </button>
    </div>
  </div>
</header>