<footer class="bg-light text-center maincontainer">
  <div class="row">
    <div class="col-md-4 mb-4">
      <h6 class="mb-3">MAZAD</h6>
      <ul class="list-unstyled footer-links">
        <li class="mb-2"><a href="#" class="text-muted">Categories</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Live Auctions</a></li>
      </ul>
    </div>
    <div class="col-md-4 mb-4">
      <h6 class="mb-3">HELP</h6>
      <ul class="list-unstyled footer-links">
        <li class="mb-2"><a href="#" class="text-muted">Contact Support</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Privacy Policy</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Terms of Service</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="col-md-4 mb-4">
      <h6 class="mb-3">RESOURCES</h6>
      <ul class="list-unstyled footer-links">
        <li class="mb-2"><a href="#" class="text-muted">Blog</a></li>
        <li class="mb-2"><a href="#" class="text-muted">FAQ</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Guides</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Status</a></li>
      </ul>
    </div>
  </div>
  <div class="mt-4 mb-4">
    <a href="https://x.com/i/flow/login?redirect_after_login=%2Fneosoftofficial" class="social-icon"><i class="bi bi-twitter mx-3" style="color: #7d18d0;"></i></a>
    <a href="https://www.instagram.com/neosoft.official?igsh=NnI5bGN3Nnl1cXI5" class="social-icon"><i class="bi bi-instagram mx-3" style="color: #7d18d0;" ></i></a>
    <a href="https://www.facebook.com/neosoftpvtltd/" class="social-icon"><i class="bi bi-facebook mx-3" style="color: #7d18d0;"></i></a>
    <a href="https://in.linkedin.com/company/neosoft-careers" class="social-icon"><i class="bi bi-linkedin mx-3" style="color: #7d18d0;"></i></a>
  </div>

  <div class="container py-3">
    <span>© 2025 Your Company. All rights reserved.</span>
  </div>
</footer>