<footer class="footer-container">
  <div class="footer-top">

    <div class="footer-columns">
      
      <!-- MAZAD Section -->
      <div class="footer-section">
        <h6 class="section-title">{{ 'FOOTER_MAZAD' | translate }}</h6>
        <ul class="footer-links">
          <li><a href="#">{{ 'FOOTER_CATEGORIES' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_LIVE_AUCTIONS' | translate }}</a></li>
        </ul>
      </div>

      <!-- HELP Section -->
      <div class="footer-section">
        <h6 class="section-title">{{ 'FOOTER_HELP' | translate }}</h6>
        <ul class="footer-links">
          <li><a href="#">{{ 'FOOTER_CONTACT_SUPPORT' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_PRIVACY_POLICY' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_TERMS' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_COOKIES' | translate }}</a></li>
        </ul>
      </div>

      <!-- RESOURCES Section -->
      <div class="footer-section">
        <h6 class="section-title">{{ 'FOOTER_RESOURCES' | translate }}</h6>
        <ul class="footer-links">
          <li><a href="#">{{ 'FOOTER_BLOG' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_FAQ' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_GUIDES' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER_STATUS' | translate }}</a></li>
        </ul>
      </div>

      <!-- LOGO Section -->
      <div class="footer-logo">
        <img src="/assets/logo2.jpg" alt="AMPLogo" class="footer-logo-img" />
      </div>
    </div>
        <!-- Bottom Footer -->
    <div class="footer-bottom">
      <div class="social-icons">
        <a href="https://x.com/i/flow/login?redirect_after_login=%2Fneosoftofficial" class="social-icon" aria-label="Twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/neosoft.official?igsh=NnI5bGN3Nnl1cXI5" class="social-icon" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/neosoftpvtltd/" class="social-icon" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://in.linkedin.com/company/neosoft-careers" class="social-icon" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="copyright">
        <span>{{ 'FOOTER_COPYRIGHT' | translate }}</span>
      </div>
    </div>
  </div>
</footer>
