/* app.component.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Header */
.app-header {
  flex-shrink: 0;
}

/* Body layout with sidebar + main content */
.app-body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  transition: all 0.3s ease;
}
.app-main{
  min-height: 100vh;
  transition: all 0.3s ease;
}
/* Sidebar (basic shell) */
.app-sidebar {
  position: relative;
  width: 60px;
  min-width: 60px;
  /* overflow-x: hidden; */
  background-color: transparent;
  z-index: 100;
  transition: all 0.3s ease;
}

/* Main content */
.app-content {
  flex: 1;
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease, padding 0.3s ease;
}

/* Auth background (login, etc.) */
.auth-bg {
  background-color: var(--light-bg);
  padding: 0%;
}

/* .app-sidebar:hover ~ .app-content {
  margin-left: 180px; 
} */

/* 200 - 60 */
.sidebar-collapsed .app-sidebar {
  width: 60px;
}

.sidebar-collapsed .app-content {
  margin-left: 60px;
}

.app-content.sidebar-expanded {
  margin-left: 180px;
}



.back-btn-image {
  transition: transform 0.3s ease;
}

.rtl-rotate {
  transform: rotate(180deg); /* flip the arrow direction */
}

