<div class="auction-form-header">
  <button class="back-btn btn btn-link p-0" (click)="goBack()">
    <i class="bi bi-arrow-left-circle"></i>
  </button>
  <div>
    <h3 class="auction-form-title">Update User</h3>
    <p class="auction-form-subtitle"><span class="text-danger">*</span> indicates a required field</p>
  </div>
</div>

<form (ngSubmit)="onUpdateUser(userForm)"    #userForm="ngForm" class="container  p-4 bg-light rounded shadow">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Name<span class="text-danger">*</span></label>
        <input type="text"
        minlength="3"
        maxlength="25"
        placeholder="e.g. Jamie Oliver"
        pattern="^[A-Za-z ]+$"
        class="form-control form-control-lg"
        [(ngModel)]="user.name"
        name="name"
        required
        #name="ngModel">          
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          
          <div *ngIf="(name.errors?.['minlength'] || name.errors?.['pattern'])">
            <span *ngIf="name.errors?.['minlength']">Name must be at least 3 characters. </span>
            <span *ngIf="name.errors?.['pattern']">Only alphabetic characters and spaces are allowed.</span>
          </div>
          
          <div *ngIf="name.errors?.['maxlength']">Maximum 25 characters allowed.</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Email<span class="text-danger">*</span></label>
        <input type="email" placeholder="e.g.jamie@gmail.com" class="form-control form-control-lg" [(ngModel)]="user.email" maxlength="50" minlength="3" name="email"  pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" required email #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email'] ||email.errors?.['pattern']">Please enter a valid email.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Mobile Number<span class="text-danger">*</span></label>
        <div class="input-group">
          <select class="form-select form-select-lg" [(ngModel)]="user.countryId" name="countryId" required #countryId="ngModel">
            <option [ngValue]="null" disabled>Select Phone Code</option>
            <option *ngFor="let country of countries" [ngValue]="country.countryId">
              {{ country.phoneCode }} ({{ country.countryName }})
            </option>
          </select>
          <div *ngIf="countryId.invalid && (countryId.dirty || countryId.touched)" class="text-danger">
            Select a valid Phone Code.
          </div>
          
          <input type="tel" 
          inputmode="numeric" 
          pattern="^[0-9]*$"
          class="form-control form-control-lg" 
          [(ngModel)]="user.mobileNumber" s
          name="mobileNumber" 
          required
          placeholder="e.g. 9876534526"
          maxlength="15"
          [mobilenumber]="countries"
          #mobileNumber="ngModel">
        </div>
        <div *ngIf=" (countryId.dirty || countryId.touched)" class="text-danger">
          <div *ngIf="user.countryId == 0">Select a valid Phone Code.</div>
        </div>
        <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="text-danger">
          <div *ngIf="mobileNumber.errors?.['required']">Mobile number is required.</div>
          <div *ngIf="mobileNumber.errors?.['pattern']">
            Enter a Valid Number
          </div>
          <div *ngIf="!mobileNumber.errors?.['pattern'] && mobileNumber.errors?.['invalidPrefix']">
              Mobile number must start with a valid series (e.g., 9, 8, or 7 for India).
          </div>
          <div *ngIf="mobileNumber.errors?.['invalidPhoneLength']">
            Mobile number Length is invalid for the selected country.
          </div>

        </div>
      </div>
      
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Country</label>
        <input class="form-control form-control-lg" disabled="true" type="text" name="country" [value]="getCountryName(user.countryId)">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Company Name</label>
        <input type="text"  placeholder="Apple" minlength="3" maxlength="20"  class="form-control form-control-lg" [(ngModel)]="user.companyName" #companyName="ngModel" name="companyName">
        <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)" class="text-danger">
          <div *ngIf="companyName.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="companyName.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Company Number</label>
        <input type="text" placeholder="e.g. A53DH"  minlength="3" maxlength="15" #companyNumber="ngModel" class="form-control form-control-lg" [(ngModel)]="user.companyNumber" name="companyNumber" (input)="user.companyNumber = user.companyNumber.toUpperCase()">
        <div *ngIf="companyNumber.invalid && (companyNumber.dirty || companyNumber.touched)" class="text-danger">
          <div *ngIf="companyNumber.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="companyNumber.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Status<span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="user.statusId" name="statusId" required #statusId="ngModel">
          <option *ngFor="let status of statuses" [value]="status.statusId">{{ status.statusName }}</option>
        </select>
        <div *ngIf="statusId.invalid && (statusId.dirty || statusId.touched)" class="text-danger">
          Status is required.
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Role<span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="user.roleId" name="roleId" required #roleId="ngModel">
          <option *ngFor="let role of roles" [value]="role.roleId">{{ role.roleName }}</option>
        </select>
        <div *ngIf="roleId.invalid && (roleId.dirty || roleId.touched)" class="text-danger">
          Role is required.
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Gender<span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="user.gender" name="gender" required #gender="ngModel">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="text-danger">
          Gender is required.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Goverment ID Number<span class="text-danger">*</span></label>
        <input type="text" placeholder=" e.g. GRKDP6754D"  minlength="3" maxlength="15" class="form-control form-control-lg" [(ngModel)]="user.personalIdNumber" name="personalIdNumber" required #personalIdNumber="ngModel" (input)="user.personalIdNumber = user.personalIdNumber.toUpperCase()">
        <div *ngIf="personalIdNumber.invalid && (personalIdNumber.dirty || personalIdNumber.touched)" class="text-danger">
          <div *ngIf="personalIdNumber.errors?.['required']">Goverment ID Number is required.</div>
          <div *ngIf="personalIdNumber.errors?.['minlength']">Minimum 3 characters required.</div>
          <div *ngIf="personalIdNumber.errors?.['maxlength']">Maximum 20 characters allowed.</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold" for="personalIdExpiryDate">
          Government ID Expiry Date<span class="text-danger">*</span>
        </label>
      
        <div class="input-group">
          <input
            class="form-control form-control-lg"
            placeholder="dd-MM-yyyy"
            ngbDatepicker
            #d="ngbDatepicker"
            [(ngModel)]="personalIdExpiryDateStruct"
            name="personalIdExpiryDate"
            id="personalIdExpiryDate"
            required
            futureDate
            [minDate]="minDate"
            [ngClass]="{'is-invalid': personalIdExpiryDate.invalid && (personalIdExpiryDate.dirty || personalIdExpiryDate.touched)}"
            #personalIdExpiryDate="ngModel"
          />
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="bi bi-calendar"></i>
          </button>
        </div>
      
        <!-- Move validation OUTSIDE input-group, and use d-block -->
        <div *ngIf="personalIdExpiryDate.errors?.['required'] && (personalIdExpiryDate.dirty || personalIdExpiryDate.touched)" class="invalid-feedback d-block">
          Government ID Expiry Date is required.
        </div>
        <div *ngIf="personalIdExpiryDate.errors?.['dateInvalid'] && (personalIdExpiryDate.dirty || personalIdExpiryDate.touched)" class="invalid-feedback d-block">
          Government ID Expiry Date must be a future date.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Chat Enabled</label><br>
        <div class="btn-group" role="group">
          <input type="radio" class="btn-check" id="chatYes" [(ngModel)]="user.chatEnabled" name="chatEnabled" [value]="true" autocomplete="off">
          <label class="btn btn-outline-primary" for="chatYes">Yes</label>
          
          <input type="radio" class="btn-check" id="chatNo" [(ngModel)]="user.chatEnabled" name="chatEnabled" [value]="false" autocomplete="off">
          <label class="btn btn-outline-primary" for="chatNo">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Profile Image<span class="text-danger">*</span></label>
        
        <div class="img-new" *ngIf="user.profileImageUrl">
          <img [src]="user.profileImageUrl" alt="Profile Image" class="img-thumbnail" width="100">
          <p><a [href]="user.profileImageUrl" target="_blank">View  image</a></p>
        </div>
        
        <input type="file" class="form-control form-control-lg" (change)="onImageSelected($event, 'profileImageFile')">
        
        <div *ngIf="submitted && !user.profileImageUrl && !profileImageFile" class="text-danger">
          Profile Image is required.
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="form-label fw-bold">Goverment ID Image<span class="text-danger">*</span></label>
        
        <div class="img-new" *ngIf="user.personalIdImageUrl">
          <img [src]="user.personalIdImageUrl" alt="Goverment ID Image" class="img-thumbnail" width="100">
          <p><a [href]="user.personalIdImageUrl" target="_blank">View image</a></p>
        </div>

        <input type="file" class="form-control form-control-lg" (change)="onImageSelected($event, 'personalIdImageFile')">
        
        <div *ngIf="submitted && !user.personalIdImageUrl && !personalIdImageFile" class="text-danger">
          Goverment ID Image is required.
        </div>
      </div>
    </div>
  </div>


  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <button type="submit" class="btn btn-success btn-lg px-4" >Update</button>
  </div>
</form>
