<div class="top-toolbar">
  <div class="toolbar-left">
    <button class="icon-main">
      <img src="cars.png" alt="Car Plates" />
      <!-- <span>Plates</span> -->
    </button>
  </div>

  <div class="toolbar-center">
    <img class="search" src="search.png" alt="">
    <input
      type="text"
      class="search-input"
      placeholder="Search"
    />
  </div>

  <div class="toolbar-right">
    <img src="sort.png" alt="Filter" class="toolbar-icon sort" />
    <img 
  [src]="layoutType === 'grid' ? 'grid1.png' : 'view-list.png'" 
  alt="Toggle View" 
  class="toolbar-icon grid" 
  (click)="toggleLayout()" 
/>

    <img src="pin.png" alt="Location" class="toolbar-icon pin" />
  </div>
</div>



<div class="plates-container"   [ngClass]="layoutType + '-view'">
  <div class="plate-card" *ngFor="let asset of assets">
    <div class="plate-display">
      <img
        *ngIf="asset.galleries?.length"
        [src]="asset.galleries[0]?.fileUrl"
        alt="Asset Image"
        class="plate-main-image"
      />


      <ng-container *ngIf="layoutType === 'row'; else gridView">
        <div class="plate-name">
          <span class="plate-name-text">{{ asset.title }}</span>
          </div>
        <div class="plate-footer">
          <div class="price">BHD {{ asset.startingPrice }}</div>
          <div class="icons">
            <button class="icon-btn" title="Save">
              <img src="wishlist.png" alt="Save Icon" class="button-image1" />
            </button>
            <button class="icon-btn" title="Buy">
              <img src="sell.png" alt="Buy Icon" class="button-image2" />
            </button>
          </div>
        </div>
      </ng-container>


      <ng-template #gridView>
        <div class="icons">
          <button class="icon-btn" title="Save">
            <img src="wishlist.png" alt="Save Icon" class="button-image1" />
          </button>
          <button class="icon-btn" title="Buy">
            <img src="sell.png" alt="Buy Icon" class="button-image2" />
          </button>
        </div>
        <div class="price1">BHD {{ asset.startingPrice }}</div>
      </ng-template>

    </div>
  </div>
</div>
     

