.Grid-container{
  min-height: 100vh;
  background-color: white;
  border-radius: 12px;
}

.top-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px 0; 
  background-color: white;
  border-radius: 12px;
  /* border-bottom: 1px solid #e0e0e0; */
  margin-bottom: 20px;
}

.icon-main{
  width: 50px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.toolbar-left,
.toolbar-center,
.toolbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toolbar-left button {
  display: flex;
  align-items: center;
  background-color: white;  
  cursor: pointer;
}

.toolbar-right img {
  width: 43px;
    height: 34px;
  object-fit: contain;
  margin-right: 6px;
  align-items: center;
  vertical-align: middle; 
}

.toolbar-center .search-icon {
  font-size: 16px;
  color: #555;
}

.toolbar-center .search-label {
  font-size: 14px;
  color: #555;
}

.toolbar-icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.search{
  width: 20px;
  height: 20px;
}
.toolbar-icon:hover {
  opacity: 1;
}

.icons-top {
   position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
}

.plate-name.full-width {
  width: 100%;
  padding-top:15px;
  padding-left: 5px;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.plates-container.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
   padding: 0rem 8rem;
}

.grid-view .plate-card {
  position: relative; 
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 240px;
  border-radius: 12px;
  overflow: hidden;
  padding: 0.5rem;
   box-shadow: 0 4px 12px rgb(201, 201, 201);
}
.grid-view .icons-top {
  position: absolute;
  top: 120px; 
  display: flex;
  gap: 8px; /* Space between icons */
  z-index: 1; /* Ensure icons stay above image */
}
.grid-view .plate-main-image {
  width: 100%;
  height: 140.15px;
  object-fit: cover;
  border-radius: 20px;
}


/* Responsive for grid view */
@media (max-width: 1200px) {
  .plates-container.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .plates-container.grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .plates-container.grid-view {
    grid-template-columns: 1fr;
  }
}
/* -0------------------------- */
.plates-container.row-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;

}
/*-------------------------- */
.plates-container.row-view .plate-card {
  display: flex;
}
.row-view .plate-card {
  width: 440px;
  height: 170px;
  background-color: white;
  border-radius: var(--card-radius);
  /* box-shadow: var(--shadow-light); */
    box-shadow: 0 4px 12px rgb(201, 201, 201);
}
.row-view .plate-card:hover{
  background-color: #eadef2;
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(106, 27, 154, 0.15);
}
.plate-display-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding:10px 10px 0 10px ;
}

/* Image stays left */
.plates-container.row-view .plate-main-image {
  width: 105px;
  height: 88px;
  object-fit: cover;
  border-radius: var(--card-radius);
  margin-bottom: 0;
}
/* ------------------------------------ */
.plates-container.row-view .plate-display {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-wrap: nowrap;
  width: 100%;
}


.grid-view .plate-display {
  display: flex;
  flex-direction: column; 
  gap: 5px;
}

.plates-container.row-view .price {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  color: #9b59b6;
  width: 100%;
  text-align: center;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eded;
  border-bottom: 2px solid transparent;

  /* Rounded corners only on the bottom */
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  
}

.plates-container.row-view .icons {
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0;
  padding: 0 4px;
  align-items: end;
}


@media (max-width: 1200px) {
  .plates-container.row-view {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .plates-container.row-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .plates-container.row-view {
    grid-template-columns: 1fr;
  }
}


.plates-container.row-view .plate-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.plate-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: pointer;
  /* gap: 12px; */
}

.plate-card {
  justify-content: space-between;
  /* transition: transform 0.2s ease, box-shadow 0.3s ease; */
}

/* .plate-card:hover {
  
  box-shadow: 0 4px 16px rgba(106, 27, 154, 0.15);
} */
.plate-card:hover {
  background-color: #eadef2;
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(106, 27, 154, 0.15);
}



.plate-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



.plate-main-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--card-radius);
  margin-bottom: px;
  cursor: pointer;
}

.plate-name{
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  font-weight: 600;
  text-align: start;
  margin-top: 8px;
}

.plate-name-view{
    width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  font-weight: 600;
  text-align: start;
  margin-top: 8px;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
}
.icon-btn:disabled {
  /* opacity: 0.6; */
  cursor: not-allowed;
}




.toast-container{
  position: fixed;
  bottom: 45px;
  right: 20px;
  z-index: 9999;
}
.flag-icon {
  width: 32px;
  height: 20px;
  border-radius: 4px;
}

.plate-number {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  min-width: 60px;
}

.plate-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #555;
}

.country-ar {
  font-weight: 600;
  color: var(--primary-dark);
}

.country-en { 
  font-size: 11px;
}


.icons {
  display: flex;         
  gap: 20px;             
  /* align-items: center;    */
  margin-top: 8px;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;     
    
}
.icon-btn-1 {
  background-color: #e8e8e8;;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}
.icon-btn-1:hover{
   background-color: rgb(247, 247, 247)
}

.grid-view .icon-btn {
  background-color: #e8e8e8;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

.grid-view .icon-btn:hover{
  background-color: rgb(247, 247, 247)active-wishlist
}

.button-image1 {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.button-image1.active-wishlist {
  border-radius: 4px;
}


.button-image2 {
  width: 25px;
  height: 25px;
  object-fit: contain;
} 
.price1 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-dark);
  text-align: left;
  padding: 0px 4px;
  color: #9b59b6;
  
}


.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #333;
  padding: 4px 0;
  width: 150px;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


.back-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.back-btn-image {
  width: 32px;
  height: 32px;
}

.back-btn-image {
  transition: transform 0.3s ease;
}

.rtl-rotate {
  transform: rotate(180deg); /* flip the arrow direction */
}

